.order{
  display: flex;
  height: calc(100vh - 300px);
  margin: 16px 0;
  border: 1px solid #E8E2ED;
  box-sizing: border-box;
  box-shadow: 0px 2px 5px rgba(29, 1, 81, 0.07);
  border-radius: 20px;
  .map {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: gray;
    // width: 778px;
    width: 50%;
    position: relative;
    .start-over {
      width: 117px;
      height: 38px;
      background: #FFFFFF;
      box-shadow: 0px 2px 10px rgba(29, 1, 81, 0.06);
      // border-top-left-radius: 20px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 20px;
      border-bottom-left-radius: 0;
      position: absolute;
      z-index: 2;
      .content {
         display: flex;
         height: 100%;
         justify-content: center;
         align-content: center;
         text-align: center;
         .text {
           padding: 0;
           margin: 0;
           padding-top: 9px;
           padding-left: 4px;
            font-family: 'Open Sans', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 19px;

color: #000000;
         }
      }
    }

  }
  .block {

     width: 50%;
    overflow: auto;
    background: #FFFFFF;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;

  }

  .detail-move {
    display: flex;
    justify-content: space-between;

    .move-img {
      padding-left: 14px;
    }
  }

  .line {
    height: 1px;
    width: 100%;
    background-color: #EBEBEB;
    margin-top: 14px;
  }

  .detail {
    padding: 16px 30px;
  }

.preview-route {


    .header{
      display: flex;
      padding-top: 12px;
      .logo {
        border-radius: 5px 5px 0px 0px;
      }
      .info {
        padding-left: 25px;

        .title-edit {
          display: flex;
          justify-content: space-between;
          align-items: center;
        .title {
          display: flex;
          align-items: center;
          .number {

            background: linear-gradient(261.83deg, #FDC635 5.98%, #FFA901 94.59%);
            box-shadow: 0px 2px 10px rgba(217, 143, 0, 0.43);
            width: 24px;
            height: 24px;
            border-radius: 50%;
            text-align: center;
            font-family: 'Lato', sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 15px;
            // line-height: 17px;
            text-align: center;

            color: #FFFFFF;
          }

          p {
        font-family: 'Lato', sans-serif;
          font-style: normal;
          font-weight: bold;
          font-size: 20px;
          line-height: 24px;
          padding-left: 8px;
          color: #200F32;
          }
        }
        .edit {
          padding-left: 120px;
          display: flex;
          cursor: pointer;
          .edit-text {
            padding-left: 6px;
            font-family: 'Open Sans', sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 19px;
            display: flex;
            align-items: center;
            text-align: center;
            text-transform: uppercase;

            color: #FFA901;
          }
        }
        }
        .stars {
          padding: 10px 0;
          .star{
            padding-right: 5px;
          }
        }
        .location {
          display: flex;
          .location-title {
            padding-left: 10px;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 19px;
            font-family: 'Open Sans', sans-serif;
            color: #200F32;
          }
        }

        .price {
          padding-top: 11px;
          font-family: 'Lato', sans-serif;
          font-style: normal;
          font-weight: bold;
          font-size: 20px;
          line-height: 24px;

          color: #200F32;
        }

        .text {
          padding-top: 10px;
          font-family: 'Open Sans', sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 19px;

          color: #200F32;
        }

      }
    }

    .main {
      padding-top: 16px;
      .info {
        padding-bottom: 14px;
        .title {
          font-style: normal;
          font-weight: normal;
          font-size: 12px;
          line-height: 16px;

          color: #000000;
          font-family: 'Open Sans', sans-serif;
          opacity: 0.5;
        }
        .text {
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 19px;
          font-family: 'Open Sans', sans-serif;
          color: #200F32;
        }
      }

      .tags{
                        display: flex;
                        text-decoration: none;
                        list-style: none;
                        margin: 0;
                        padding: 0;

                        li{
                            border: 1px solid #FDC635;;
                            border-radius: 50px;
                            color:#FDC635;
                            font-size: 12px;
                            line-height: 18px;
                            text-align: center;
                            text-transform: uppercase;
                            padding: 4px 10px;
                            margin-right: 10px;
                        }
                    }

    }


   .details-show {
     cursor: pointer;
     padding-top: 16px;
     font-family: 'Open Sans', sans-serif;
     font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 19px;
      display: flex;
      align-items: center;
      text-transform: uppercase;

      color: #FFA901;

   }
  }





}
