<div class="order">
  <div class="map">
    <div class="start-over">
      <div class="content">
        <img src="../../../../../assets/images/start-over.svg" alt="">
        <p class="text">Start over</p>
      </div>
    </div>
    <app-map [Mode]="3"></app-map>
  </div>
  <div class="block">
    <div class="detail preview-route" dnd-sortable-container [sortableData]="listOne">

      <div *ngFor="let item of listOne; let i = index" dnd-sortable (onDragEnd)="dropEnd()" [sortableIndex]="i" class="route">
        <div class="header">
          <img class="logo" src="../../../../../assets/images/Mask Group.png" alt="">
          <div class="info">
            <div class="title-edit">
              <div class="title"><div class="number">{{i+1}}</div> <p>Washington Square Park</p></div>
            </div>
            <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim</div>
            <div class="detail-move">
              <p class="details-show">More Details</p>
              <!-- dnd-sortable-handle -->
              <img class="move-img" src="../../../../../assets/images/array-move.svg" alt="">
            </div>
          </div>
        </div>
      </div>

      <div class="line"></div>
      <div class="route-full">
        <div class="header">
        <img class="logo" src="../../../../../assets/images/Mask Group.png" alt="">
        <div class="info">
          <div class="title-edit">
            <div class="title"><div class="number">2</div> <p>Washington Square Park</p></div>
          </div>
          <div class="stars">
            <img class="star" src="../../../../../assets/images/star-full.svg" alt="">
            <img class="star" src="../../../../../assets/images/star-full.svg" alt="">
            <img class="star" src="../../../../../assets/images/star-full.svg" alt="">
            <img class="star" src="../../../../../assets/images/star-full.svg" alt="">
            <img class="star" src="../../../../../assets/images/star-empty.svg" alt="">
          </div>
          <div class="location">
            <img src="../../../../../assets/images/location-img.svg" alt="" class="location-img">
            <p class="location-title">Washington Square Park</p>
          </div>
          <p class="price">$0</p>
        </div>
      </div>
      <div class="main">
        <div class="info">
          <div class="title">Short description</div>
          <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim</div>
        </div>

        <div class="info">
          <div class="title">Interesting facts</div>
          <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim</div>
        </div>

        <div class="info">
          <div class="title">Short description</div>
          <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim</div>
        </div>

        <div class="info">
          <div class="title">What to do</div>
          <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim</div>
        </div>

        <div class="info">
          <div class="title">Short description</div>
          <div class="text">Monday - Friday: 12 PM - 15 PM</div>
        </div>

        <div class="info">
          <div class="title">Estimated time</div>
          <div class="text">1 Hour</div>
        </div>

        <ul class="tags">
          <li>Tag 1</li>
          <li>Tag 2</li>
        </ul>

      </div>
      <div class="detail-move">
            <p class="details-show">Less Details</p>
            <img class="move-img" src="../../../../../assets/images/array-move.svg" alt="">
          </div>
      </div>
      <div class="line"></div>


    </div>



  </div>
</div>
