<div  class="block">
  <div *ngIf="CurrentPage != Pages['Index']" class="create-route">
    <div class="left">
      
      <p class="step">Создание маршрута</p>

      <ul class="menu">
        <!-- <li routerLinkActive="active" class="item"><a [routerLink]="['/home','create-route','places']">PLACES</a></li>
        <li routerLinkActive="active" class="item"><a [routerLink]="['/home','create-route','order']">ORDER</a></li>
        <li routerLinkActive="active" class="item"><a [routerLink]="['/home','create-route','general']">GENERAL</a></li>
        <li routerLinkActive="active" class="item"><a [routerLink]="['/home','create-route','summary']">SUMMARY</a></li> -->
        <li routerLinkActive="active" class="item"><a [routerLink]="['/home','create-route','places']">Места</a></li>
        <li routerLinkActive="active" class="item"><a [routerLink]="['/home','create-route','order']">Порядок</a></li>
        <li routerLinkActive="active" class="item"><a [routerLink]="['/home','create-route','general']">Основное</a></li>
      </ul>
    </div>
    <div class="right">
      <div (click)="SaveRoute()"  class="save-button"><p class="text">Создать</p></div>
      <div class="remove">
        <p class="text"> Удалить</p>
        </div>
    </div>
  </div>
  <app-loading [ngStyle]="{'display':isLoading?'block':'none'}"></app-loading>
  <div [ngStyle]="{'display':!isLoading?'block':'none'}" class="content">
    <router-outlet></router-outlet>
  </div>
</div>


