<div  class="block">
  <div *ngIf="CurrentPage != Pages['Index']" class="create-route">
    <div class="left">
      <div class="header">
        <a [routerLink]="['/home','create-route','index']"><img class="array-back" src="../../../../../assets/images/array-back.svg" alt=""></a>
        <p class="title">Create route</p>
        <div class="total total-time">
          <img src="../../../../../assets/images/clock.svg" alt="">
          <p class="text">Total route time: ~ 4 h</p>
        </div>
        <div class="total total-distance">
          <img src="../../../../../assets/images/distance.svg" alt="">
          <p class="text">Total distance: ~ 8 km</p>
        </div>
      </div>
      <p *ngIf="CurrentPage == Pages['Places']" class="step">Step 1. On the beginning you have to choose places. You can create places <a class="link" href="#">here</a> :)</p>
      <p *ngIf="CurrentPage == Pages['Order']" class="step">Step 2. Keep it on! Here you have to make correct order of the places. Just click on place in correct order on map or drag and drop cards under it.</p>
      <p *ngIf="CurrentPage == Pages['General'] || CurrentPage == Pages['Summary']" class="step">Step 3. We almost done. Just input general information about your route. Good luck!</p>


      <ul class="menu">
        <li routerLinkActive="active" class="item"><a [routerLink]="['/home','create-route','places']">PLACES</a></li>
        <li routerLinkActive="active" class="item"><a [routerLink]="['/home','create-route','order']">ORDER</a></li>
        <li routerLinkActive="active" class="item"><a [routerLink]="['/home','create-route','general']">GENERAL</a></li>
        <li routerLinkActive="active" class="item"><a [routerLink]="['/home','create-route','summary']">SUMMARY</a></li>
      </ul>
    </div>
    <div class="right">
      <div class="save-button"><p class="text">SAVE AS drafts</p></div>
      <div class="remove">
        <img src="../../../../../assets/images/bin.svg" alt="">
        <p class="text"> Remove roude</p>
        </div>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>

<div *ngIf="CurrentPage != Pages['Index'] && CurrentPage != Pages['Summary']" class="footer">
  <div class="right">
    <div class="content">
      <p class="text">If here everything ok. Let’s proceed</p>
      <img src="../../../../assets/images/array-footer.svg" alt="">
      <div class="button"><p class="text">Next step</p></div>
    </div>
  </div>
</div>
