
<div class="block">
<div class="create-route">
  <p class="text">Построенные маршруты</p>
  <div class="button"><a [routerLink]="['/home','create-route','places']" class="text">ДОбавить</a></div>
</div>
<app-loading *ngIf="isLoadingRoutes"></app-loading>
<div [ngStyle]="{'display': isLoadingRoutes? 'none': 'flex'}" class="routes">
  <ng-container *ngFor="let item of Routes; let i = index">
    <div class="route">
      <img *ngIf="item.image_id" (error)="item.image_id = null" [src]="'http://35.204.142.44:3000/images/'+item.image_id" alt="" class="route__image">
      <ul class="route__content">
        <div class="name-price">
          <p class="name">{{item.name}} </p>

        </div>
        <div class="text">
          <p class="price">Мест: {{item.total_places}}</p>
          <span class="main-text opened">{{item.description?item.description.slice(0,50):''}}{{item.description&&item.isShowFullDesc?item.description.slice(50):''}}
            <span *ngIf="item.description && item.description.length>50 && !item.isShowFullDesc" (click)="item.isShowFullDesc = true" class="more-btn open-btn">More</span><span class="additional"></span>
            <span *ngIf="item.isShowFullDesc" (click)="item.isShowFullDesc = false" class="more-btn open-btn">Hide</span>
          </span>
        </div>
      </ul>
    </div>
  </ng-container>
</div>

