
<div class="block">
<div class="create-route">
  <p class="text">Seems you wanna create new route? Let’s do it!</p>
  <img src="../../../../../assets/images/walk-man.svg" alt="">
  <div class="button"><a [routerLink]="['/home','create-route','places']" class="text">create route</a></div>
</div>
<p class="text-draft">Draft routes</p>

<div class="routes">
    <div class="route">
      <img src="../../.../../../../../assets/images/image 2.png" alt="" class="route__image">
      <ul class="route__content">
        <div class="name-price">
          <p class="name"> Route Name </p>
          <p class="price">$30</p>
        </div>
        <div class="text">
          <span class="main-text opened"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud Lorem ipsum dolor sit amet<span class="more-btn open-btn">More</span><span class="additional"></span>
          <span class="more-btn hide-btn">Hide</span></span>

        </div>
        <ul class="keywords"><li>KEYWORD</li><li>KEYWORD</li></ul>
      </ul>
     <div class="edit-publish">
        <img src="../../../../../assets/images/edit.svg" alt="">
        <div class="publish"><p>PUBLISH</p></div>
      </div>
    </div>

    <div class="route">
      <img src="../../.../../../../../assets/images/image 2.png" alt="" class="route__image">
      <ul class="route__content">
        <div class="name-price">
          <p class="name"> Route Name </p>
          <p class="price">$30</p>
        </div>
        <div class="text">
          <span class="main-text opened"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud Lorem ipsum dolor sit amet<span class="more-btn open-btn">More</span><span class="additional"></span>
          <span class="more-btn hide-btn">Hide</span></span>

        </div>
        <ul class="keywords"><li>KEYWORD</li><li>KEYWORD</li></ul>
      </ul>
     <div class="edit-publish">
        <img src="../../../../../assets/images/edit.svg" alt="">
        <div class="publish"><p>PUBLISH</p></div>
      </div>
    </div>

    <div class="route">
      <img src="../../.../../../../../assets/images/image 2.png" alt="" class="route__image">
      <ul class="route__content">
        <div class="name-price">
          <p class="name"> Route Name </p>
          <p class="price">$30</p>
        </div>
        <div class="text">
          <span class="main-text opened"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud Lorem ipsum dolor sit amet<span class="more-btn open-btn">More</span><span class="additional"></span>
          <span class="more-btn hide-btn">Hide</span></span>

        </div>
        <ul class="keywords"><li>KEYWORD</li><li>KEYWORD</li></ul>
      </ul>
     <div class="edit-publish">
        <img src="../../../../../assets/images/edit.svg" alt="">
        <div class="publish"><p>PUBLISH</p></div>
      </div>
    </div>

    <div class="route">
      <img src="../../.../../../../../assets/images/image 2.png" alt="" class="route__image">
      <ul class="route__content">
        <div class="name-price">
          <p class="name"> Route Name </p>
          <p class="price">$30</p>
        </div>
        <div class="text">
          <span class="main-text opened"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud Lorem ipsum dolor sit amet<span class="more-btn open-btn">More</span><span class="additional"></span>
          <span class="more-btn hide-btn">Hide</span></span>

        </div>
        <ul class="keywords"><li>KEYWORD</li><li>KEYWORD</li></ul>
      </ul>
     <div class="edit-publish">
        <img src="../../../../../assets/images/edit.svg" alt="">
        <div class="publish"><p>PUBLISH</p></div>
      </div>
    </div>

    <div class="route">
      <img src="../../.../../../../../assets/images/image 2.png" alt="" class="route__image">
      <ul class="route__content">
        <div class="name-price">
          <p class="name"> Route Name </p>
          <p class="price">$30</p>
        </div>
        <div class="text">
          <span class="main-text opened"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud Lorem ipsum dolor sit amet<span class="more-btn open-btn">More</span><span class="additional"></span>
          <span class="more-btn hide-btn">Hide</span></span>

        </div>
        <ul class="keywords"><li>KEYWORD</li><li>KEYWORD</li></ul>
      </ul>
     <div class="edit-publish">
        <img src="../../../../../assets/images/edit.svg" alt="">
        <div class="publish"><p>PUBLISH</p></div>
      </div>
    </div>



</div>

