
<div class="block">
<div class="create-route">
  <p class="text">Seems you wanna create new route? Let’s do it!</p>
  <img src="../../../../../assets/images/walk-man.svg" alt="">
  <div class="button"><a [routerLink]="['/home','create-route','places']" class="text">create route</a></div>
</div>
<p class="text-draft">Draft routes</p>

<div class="routes">
  <ng-container *ngFor="let item of Routes; let i = index">
    <div *ngIf="item.status === 'draft'" class="route">
      <img *ngIf="item.image_id" (error)="item.image_id = null" [src]="'http://35.204.142.44:3000/images/'+item.image_id" alt="" class="route__image">
      <ul class="route__content">
        <div class="name-price">
          <p class="name">{{item.name}} </p>
          <p class="price">$30</p>
        </div>
        <div class="text">
          <span class="main-text opened">{{item.description}}<span class="more-btn open-btn">More</span><span class="additional"></span>
          <span class="more-btn hide-btn">Hide</span></span>

        </div>
        <ul class="keywords"><li>KEYWORD</li><li>KEYWORD</li></ul>
      </ul>
     <div class="edit-publish">
        <img [routerLink]="['/home','create-route','edit', item.id]" src="../../../../../assets/images/edit.svg" alt="">
        <div (click)="PublishRoute(item)" class="publish"><p>PUBLISH</p></div>
      </div>
    </div>
  </ng-container>
</div>

