<div class="create-route">
  <div class="left">
    <div class="header">
      <a [routerLink]="['/home','places','index']"><img class="array-back" src="../../../../../assets/images/array-back.svg" alt=""></a>
      <p class="title">Add new place</p>
    </div>
    <p class="step">Just fill up all fields. Good luck!</p>
  </div>
</div>

<div class="places">
  <div class="map">
    <app-map [Mode]="1" (OnSelectAddress)="onSelectAddress($event)"></app-map>
  </div>
  <div class="block">
    <div class="detail edit-place">
      <div class="header">

        <div class="image-upload">
          <label for="file-input">

             <ng-container *ngIf="!NewPlace.image">
              <img class="logo" src="../../../../../assets/images/image-empty.svg" alt="">
             </ng-container>

             <ng-container *ngIf="NewPlace.image&&NewPlace.image.base64">
              <img class="logo" [src]="NewPlace.image.base64" alt="">
              <div class="gradient"></div>
              <img class="pen" src="../../../../../assets/images/pen-edit-photo.svg" alt="">
             </ng-container>

          </label>

          <input id="file-input" type="file" accept=".jpg, .jpeg, .png" (change)="uploadImage($event)" />
        </div>

        <div class="info">
            <div class="input-block">
              <div><label class="label" for="name">Place name*</label></div>
              <div><input [(ngModel)]="NewPlace.name" class="input" type="text" name="name" placeholder="Washington Square Park"></div>
            </div>

          <div class="location">
            <img src="../../../../../assets/images/location-img.svg" alt="" class="location-img">
            <p class="location-title">{{NewPlace.address?NewPlace.address:'*Please, select place at the map!'}}</p>
          </div>

        </div>
      </div>
      <div class="main">
         <div class="input-block">
              <div><label class="label" for="description">Short description* </label></div>
              <div><textarea [(ngModel)]="NewPlace.description" class="input" name="description"></textarea></div>
          </div>

          <div class="input-block">
              <div><label class="label" for="interesting">Interesting facts </label></div>
              <div><textarea [(ngModel)]="NewPlace.facts" class="input" name="interesting"></textarea></div>
          </div>

          <div class="input-block">
              <div><label class="label" for="what">What to do</label></div>
              <div><textarea [(ngModel)]="NewPlace.whatToDo" class="input" name="what"></textarea></div>
          </div>

          <div class="input-block">
              <div><label class="label" for="what">Best time to visit</label></div>
              <div class="time">
                <select class="input">
                  <option value="monday">Monday</option>
                  <option value="tuesday">Tuesday</option>
                </select>
                <input class="input w70" type="text" name="name" placeholder="12:00">
                <select class="input">
                  <option value="am">AM</option>
                  <option value="pm">PM</option>
                </select>
                <img src="../../../../../assets/images/mini-line.svg" alt="">
                <input class="input w70" type="text" name="name" placeholder="12:00">
                <select class="input">
                  <option value="am">AM</option>
                  <option value="pm">PM</option>
                </select>
              </div>
          </div>

          <div class="add">
            <img src="../../../../../assets/images/add-plus.svg" alt="">
            <p class="text">Add another time</p>
          </div>

          <div class="input-block">
              <div><label class="label" for="what">Estimated time</label></div>
              <div class="time">
                <input class="input w70" type="text" name="name" >
                <select class="input">
                  <option value="hour">Hour</option>
                  <option value="tuesday">Day</option>
                </select>
              </div>
          </div>

          <div class="input-block">
              <div><label class="label" for="tags">Tags</label></div>
              <div><input type="text" class="input" name="tags"></div>
          </div>

          <div class="input-block">
              <div><label class="label" for="rating">Rating</label></div>
              <div class="stars">
                <img class="star" src="../../../../../assets/images/star-empty.svg" alt="">
                <img class="star" src="../../../../../assets/images/star-empty.svg" alt="">
                <img class="star" src="../../../../../assets/images/star-empty.svg" alt="">
                <img class="star" src="../../../../../assets/images/star-empty.svg" alt="">
                <img class="star" src="../../../../../assets/images/star-empty.svg" alt="">
              </div>
          </div>


      </div>
    </div>

</div>
</div>

<div class="footer fixed">
  <div class="center">
    <div *ngIf="NewPlace.lat && NewPlace.lng && NewPlace.name && NewPlace.description" class="content">
      <img src="../../../../assets/images/array-footer.svg" alt="">
      <div class="button"><p class="text">Add place</p></div>
      <img src="../../../../assets/images/array-footer-reverse.svg" alt="">
    </div>
    <div *ngIf="!NewPlace.lat || !NewPlace.lng || !NewPlace.name || !NewPlace.description" class="content">
      <div class="button disabled"><p class="text">Add place</p></div>
    </div>
  </div>
</div>
