
<div class="places">
  <div class="map">
    <app-map [Mode]="1" [Places]="Places" (OnSelectAddress)="onSelectAddress($event)" [NewPlace]="NewPlace"></app-map>
  </div>
  <div class="block">
    <div class="detail edit-place">
      <div class="header">

        <div class="image-upload">
          <label for="file-input" style="margin: 0;">

             <ng-container *ngIf="!NewPlace.image && !NewPlace.image_id">
              <img class="logo" src="../../../../../assets/images/image-empty.svg" alt="">
             </ng-container>

             <ng-container *ngIf="NewPlace.image">
              <img class="logo" [src]="NewPlace.image" alt="">
              <div class="gradient"></div>
              <img class="pen" src="../../../../../assets/images/pen-edit-photo.svg" alt="">
             </ng-container>

          </label>

          <input id="file-input" type="file" accept=".jpg, .jpeg, .png" (change)="uploadImage($event)" />
        </div>

        <div class="info">
            <div class="input-block">
              <div><label class="label" for="name">Название места</label></div>
              <div><input [(ngModel)]="NewPlace.name" class="input" type="text" name="name" placeholder="Название места"></div>
            </div>

        </div>
      </div>
      <div class="main">
         <div class="input-block">
              <div><label class="label" for="description">Описание</label></div>
              <div><textarea [(ngModel)]="NewPlace.description" class="input" name="description"></textarea></div>
          </div>

          <div class="input-block">
              <div><label class="label" for="description">Тип места</label></div>
              <div>
                <select [(ngModel)]="NewPlace.type" class="input" name="description">
                  <option value="any">Не задан</option>
                  <option value="view">Видовая точка</option>
                  <option value="view_place">Место для фото</option>
                  <option value="water">Водопад</option>
                  <option value="bridge">Переправа/мостик</option>
                  <option value="starway">Лестница</option>
                  <option value="bin">Места для собра мусора</option>
                  <option value="sight">Достопримечательность</option>
                  <option value="fire">Кострище</option>
                  <option value="eco">Экощит</option>
                  <option value="talking">Беседка</option>
                  <option value="birds">Орнитологическая вышка</option>
                  <option value="camping">Место для палаток</option>
                </select>
              </div>
          </div>

      </div>
      <div (click)="CreatePlace()" class="add-button">
         <p class="text">Добавить</p>
       </div>
    </div>

</div>
</div>
