<div class="side" [ngClass]="{'hided': isHided}" >
  <div *ngIf="!isHided" (click)="HideMenu()"  class="menu">
    <img src="../../../../../assets/images/menu-closed.svg" alt="" class="menu-closed">
  </div>

  <div *ngIf="isHided" (click)="OpenMenu()"  class="menu ">
    <img src="../../../../../assets/images/array.svg" alt="" class="menu-closed array">
  </div>

 <div class="center">
  <div class="user">
    <img src="../../../../../assets/images/image.png" alt="" class="logo">
    <div class="info">
      <p class="name">Kate Smith</p>
      <a href="#" class="landing">My landing page</a>
    </div>
  </div>
  <img src="../../../../../assets/images/line.svg" alt="" class="line">

  <ul class="list">
    <li (click)="Selected = 'Dashboard'" class="item" [ngClass]="{'selected': Selected == 'Dashboard'}">
      <a [routerLink]="['/home','dashboard']">
      <img [src]="Selected == 'Dashboard'?'../../../../../assets/images/dashboard_selected.svg':'../../../../../assets/images/dashboard.svg'" alt="">
      <p [ngClass]="{'selected': Selected == 'Dashboard'}">Dashboard</p>
      </a>
    </li>
    <li (click)="Selected = 'Create'" class="item" [ngClass]="{'selected': Selected == 'Create'}">
      <a [routerLink]="['/home','create-route']">
      <img [src]="Selected == 'Create'?'../../../../../assets/images/create-route_selected.svg':'../../../../../assets/images/create-route.svg'" alt="">
      <p [ngClass]="{'selected': Selected == 'Create'}">Create route</p>
      </a>
    </li>
    <li (click)="Selected = 'Places'" class="item" [ngClass]="{'selected': Selected == 'Places'}">
      <a [routerLink]="['/home','places']">
      <img [src]="Selected == 'Places'?'../../../../../assets/images/my-places_selected.svg':'../../../../../assets/images/my-places.svg'" alt="">
      <p [ngClass]="{'selected': Selected == 'Places'}">My places</p>
      </a>
    </li>
    <li (click)="Selected = 'Routes'" class="item" [ngClass]="{'selected': Selected == 'Routes'}">
      <a [routerLink]="['/home','routes']">
      <img [src]="Selected == 'Routes'?'../../../../../assets/images/routes_selected.svg':'../../../../../assets/images/routes.svg'" alt="">
      <p [ngClass]="{'selected': Selected == 'Routes'}">Routes</p>
      </a>
    </li>


  </ul>
</div>

</div>
