<div class="side" >
 <div class="center">
  <ul class="list">
    <li (click)="Selected = Pages.CreateRoute" class="item" [ngClass]="{'selected': Selected == Pages.CreateRoute}">
      <a [routerLink]="['/home','create-route']">
      <img [src]="Selected == Pages.CreateRoute?'../../../../../assets/images/create-route_selected.svg':'../../../../../assets/images/create-route.svg'" alt="">
      <p [ngClass]="{'selected': Selected == Pages.CreateRoute}">Маршруты</p>
      </a>
    </li>
    <li (click)="Selected = Pages.Places" class="item" [ngClass]="{'selected': Selected == Pages.Places}">
      <a [routerLink]="['/home','places']">
      <img [src]="Selected == Pages.Places?'../../../../../assets/images/my-places_selected.svg':'../../../../../assets/images/my-places.svg'" alt="">
      <p [ngClass]="{'selected': Selected == Pages.Places}">Места интереса</p>
      </a>
    </li>
  </ul>
 </div>
</div>
