
<div class="block">
<div class="create-place">
  <p class="text">Not enough places? Let’s fix it!</p>
  <img src="../../../../../assets/images/array-long.svg" alt="">
  <div class="button"><a [routerLink]="['/home','places','create']" class="text">Add new place</a></div>
</div>
<p class="text-draft">My Places</p>

<div class="places">
    <div class="place">
      <img src="../../.../../../../../assets/images/image 2.png" alt="" class="place__image">
      <div class="place__content">
        <div class="name-price">
          <p class="name"> Liberty State Park </p>
        </div>
        <div class="text">
          <span class="main-text opened"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud Lorem ipsum dolor sit amet<span class="more-btn open-btn">More</span><span class="additional"></span>
          <span class="more-btn hide-btn">Hide</span></span>

        </div>
      </div>
     <div class="edit-publish">
        <img src="../../../../../assets/images/edit.svg" alt="">
      </div>
    </div>

    <div class="place">
      <img src="../../.../../../../../assets/images/image 2.png" alt="" class="place__image">
      <div class="place__content">
        <div class="name-price">
          <p class="name"> Liberty State Park </p>
        </div>
        <div class="text">
          <span class="main-text opened"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud Lorem ipsum dolor sit amet<span class="more-btn open-btn">More</span><span class="additional"></span>
          <span class="more-btn hide-btn">Hide</span></span>

        </div>
      </div>
     <div class="edit-publish">
        <img src="../../../../../assets/images/edit.svg" alt="">
      </div>
    </div>

    <div class="place">
      <img src="../../.../../../../../assets/images/image 2.png" alt="" class="place__image">
      <div class="place__content">
        <div class="name-price">
          <p class="name"> Liberty State Park </p>
        </div>
        <div class="text">
          <span class="main-text opened"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud Lorem ipsum dolor sit amet<span class="more-btn open-btn">More</span><span class="additional"></span>
          <span class="more-btn hide-btn">Hide</span></span>

        </div>
      </div>
     <div class="edit-publish">
        <img src="../../../../../assets/images/edit.svg" alt="">
      </div>
    </div>

    <div class="place">
      <img src="../../.../../../../../assets/images/image 2.png" alt="" class="place__image">
      <div class="place__content">
        <div class="name-price">
          <p class="name"> Liberty State Park </p>
        </div>
        <div class="text">
          <span class="main-text opened"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud Lorem ipsum dolor sit amet<span class="more-btn open-btn">More</span><span class="additional"></span>
          <span class="more-btn hide-btn">Hide</span></span>

        </div>
      </div>
     <div class="edit-publish">
        <img src="../../../../../assets/images/edit.svg" alt="">
      </div>
    </div>

    <div class="place">
      <img src="../../.../../../../../assets/images/image 2.png" alt="" class="place__image">
      <div class="place__content">
        <div class="name-price">
          <p class="name"> Liberty State Park </p>
        </div>
        <div class="text">
          <span class="main-text opened"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud Lorem ipsum dolor sit amet<span class="more-btn open-btn">More</span><span class="additional"></span>
          <span class="more-btn hide-btn">Hide</span></span>

        </div>
      </div>
     <div class="edit-publish">
        <img src="../../../../../assets/images/edit.svg" alt="">
      </div>
    </div>

    <div class="place">
      <img src="../../.../../../../../assets/images/image 2.png" alt="" class="place__image">
      <div class="place__content">
        <div class="name-price">
          <p class="name"> Liberty State Park </p>
        </div>
        <div class="text">
          <span class="main-text opened"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud Lorem ipsum dolor sit amet<span class="more-btn open-btn">More</span><span class="additional"></span>
          <span class="more-btn hide-btn">Hide</span></span>

        </div>
      </div>
     <div class="edit-publish">
        <img src="../../../../../assets/images/edit.svg" alt="">
      </div>
    </div>

</div>
