
<div class="block">
<div class="create-place">
  <p class="text">Места интереса</p>
  <div class="button"><a [routerLink]="['/home','places','create']" class="text">Добавить</a></div>
</div>
<app-loading *ngIf="isLoadingPlaces"></app-loading>
<div [ngStyle]="{'display': isLoadingPlaces? 'none': 'flex'}" class="places">
  <ng-container *ngFor="let place of Places; let i = index">
    <div *ngIf="place.name" class="place">
      <img *ngIf="place.image" (error)="place.image = null" [src]="place.image" alt="" class="place__image">
      <img *ngIf="!place.image" src="../../../../../assets/images/empty-img.svg" alt="" class="place__image">

      <div class="place__content">
        <p class="remove" (click)="RemoveItem(place)" >Удалить</p>
        <div class="name-price">
          <p class="name">{{place.name}}</p>
        </div>
        <div class="text">
          <span class="main-text opened">{{place.description?place.description.slice(0,50):''}}{{place.description&&place.isShowFullDesc?place.description.slice(50):''}}
            <span *ngIf="place.description && place.description.length>50 && !place.isShowFullDesc" (click)="place.isShowFullDesc = true" class="more-btn open-btn">More</span><span class="additional"></span>
            <span *ngIf="place.isShowFullDesc" (click)="place.isShowFullDesc = false" class="more-btn open-btn">Hide</span>
          </span>
        </div>
      </div>
     <!-- <div class="edit-publish">
        <img [routerLink]="['/home','places','edit',place.id]" src="../../../../../assets/images/edit.svg" alt="">
      </div> -->
    </div>
  </ng-container>
</div>
