<div class="places">
  <div class="map">
    <app-map [Mode]="2"></app-map>
  </div>
  <div class="block">
    <ul class="menu">
        <li class="item active"><p>Place details</p></li>
        <li class="item"><p> Places in the rout</p></li>
      </ul>
      <div class="line"></div>

    <!-- Просмотр места -->
    <!-- <div class="detail preview-place">
      <div class="header">
        <img class="logo" src="../../../../../assets/images/Mask Group.png" alt="">
        <div class="info">
          <div class="title-edit">
            <p class="title">Washington Square Park</p>
            <div class="edit">
              <img class="edit-img" src="../../../../../assets/images/pen-edit.svg" alt="">
              <p class="edit-text">Edit</p>
            </div>
          </div>
          <div class="stars">
            <img class="star" src="../../../../../assets/images/star-full.svg" alt="">
            <img class="star" src="../../../../../assets/images/star-full.svg" alt="">
            <img class="star" src="../../../../../assets/images/star-full.svg" alt="">
            <img class="star" src="../../../../../assets/images/star-full.svg" alt="">
            <img class="star" src="../../../../../assets/images/star-empty.svg" alt="">
          </div>
          <div class="location">
            <img src="../../../../../assets/images/location-img.svg" alt="" class="location-img">
            <p class="location-title">Washington Square Park</p>
          </div>
          <p class="price">$0</p>
        </div>
      </div>
      <div class="main">
        <div class="info">
          <div class="title">Short description</div>
          <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim</div>
        </div>

        <div class="info">
          <div class="title">Interesting facts</div>
          <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim</div>
        </div>

        <div class="info">
          <div class="title">Short description</div>
          <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim</div>
        </div>

        <div class="info">
          <div class="title">What to do</div>
          <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim</div>
        </div>

        <div class="info">
          <div class="title">Short description</div>
          <div class="text">Monday - Friday: 12 PM - 15 PM</div>
        </div>

        <div class="info">
          <div class="title">Estimated time</div>
          <div class="text">1 Hour</div>
        </div>

        <ul class="tags">
          <li>Tag 1</li>
          <li>Tag 2</li>
        </ul>

      </div>
       <div class="line"></div>

       <div class="add-button">
         <p class="text">ADD TO ROUTE</p>
       </div>
    </div> -->

    <!-- Редактирование места -->
    <!-- <div class="detail edit-place">
      <div class="header">

        <div class="image-upload">
          <label for="file-input">
             <img class="logo" src="../../../../../assets/images/Mask Group.png" alt="">
             <div class="gradient"></div>
             <img class="pen" src="../../../../../assets/images/pen-edit-photo.svg" alt="">
          </label>

          <input id="file-input" type="file" />
        </div>


        <div class="info">
            <div class="input-block">
              <div><label class="label" for="name">Place name*</label></div>
              <div><input class="input" type="text" name="name" placeholder="Washington Square Park"></div>
            </div>

          <div class="location">
            <img src="../../../../../assets/images/location-img.svg" alt="" class="location-img">
            <p class="location-title">Washington Square Park</p>
          </div>

        </div>
      </div>
      <div class="main">
         <div class="input-block">
              <div><label class="label" for="description">Short description* </label></div>
              <div><textarea class="input" name="description"></textarea></div>
          </div>

          <div class="input-block">
              <div><label class="label" for="interesting">Interesting facts </label></div>
              <div><textarea class="input" name="interesting"></textarea></div>
          </div>

                   <div class="input-block">
              <div><label class="label" for="what">What to do</label></div>
              <div><textarea class="input" name="what"></textarea></div>
          </div>

          <div class="input-block">
              <div><label class="label" for="what">Best time to visit</label></div>
              <div class="time">
                <select class="input">
                  <option value="monday">Monday</option>
                  <option value="tuesday">Tuesday</option>
                </select>
                <input class="input w70" type="text" name="name" placeholder="12:00">
                <select class="input">
                  <option value="am">AM</option>
                  <option value="pm">PM</option>
                </select>
                <img src="../../../../../assets/images/mini-line.svg" alt="">
                <input class="input w70" type="text" name="name" placeholder="12:00">
                <select class="input">
                  <option value="am">AM</option>
                  <option value="pm">PM</option>
                </select>
              </div>
          </div>

          <div class="add">
            <img src="../../../../../assets/images/add-plus.svg" alt="">
            <p class="text">Add another time</p>
          </div>


      </div>
       <div class="line"></div>

       <div class="add-button">
         <p class="text">SAVE</p>
       </div>
    </div> -->

    <!-- Если не выбраны места -->
    <!-- <div class="detail empty-place">
      <div class="content">
        <img src="../../../../../assets/images/array-left-empty.svg" alt="">
        <div class="text">
          <img src="../../../../../assets/images/smile-big.svg" alt="">
          <p class="text1">You can't see place details if you didn't select it</p>
          <p class="text2">Just click on place in map :)</p>
        </div>
      </div>
    </div> -->


    <!-- Просмотр маршрута -->
    <!-- <div class="detail preview-route">
      <div class="route">
        <div class="header">
        <img class="logo" src="../../../../../assets/images/Mask Group.png" alt="">
        <div class="info">
          <div class="title-edit">
            <p class="title">Washington Square Park</p>
            <div class="edit">
              <img class="del-img" src="../../../../../assets/images/bin-middle.svg" alt="">
            </div>
          </div>
          <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim</div>
          <p class="details-show">More Details</p>
        </div>
      </div>
      </div>

      <div class="line"></div>
      <div class="route-full">
        <div class="header">
        <img class="logo" src="../../../../../assets/images/Mask Group.png" alt="">
        <div class="info">
          <div class="title-edit">
            <p class="title">Washington Square Park</p>
            <div class="edit">
              <img class="del-img" src="../../../../../assets/images/bin-middle.svg" alt="">

            </div>
          </div>
          <div class="stars">
            <img class="star" src="../../../../../assets/images/star-full.svg" alt="">
            <img class="star" src="../../../../../assets/images/star-full.svg" alt="">
            <img class="star" src="../../../../../assets/images/star-full.svg" alt="">
            <img class="star" src="../../../../../assets/images/star-full.svg" alt="">
            <img class="star" src="../../../../../assets/images/star-empty.svg" alt="">
          </div>
          <div class="location">
            <img src="../../../../../assets/images/location-img.svg" alt="" class="location-img">
            <p class="location-title">Washington Square Park</p>
          </div>
          <p class="price">$0</p>
        </div>
      </div>
      <div class="main">
        <div class="info">
          <div class="title">Short description</div>
          <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim</div>
        </div>

        <div class="info">
          <div class="title">Interesting facts</div>
          <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim</div>
        </div>

        <div class="info">
          <div class="title">Short description</div>
          <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim</div>
        </div>

        <div class="info">
          <div class="title">What to do</div>
          <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim</div>
        </div>

        <div class="info">
          <div class="title">Short description</div>
          <div class="text">Monday - Friday: 12 PM - 15 PM</div>
        </div>

        <div class="info">
          <div class="title">Estimated time</div>
          <div class="text">1 Hour</div>
        </div>

        <ul class="tags">
          <li>Tag 1</li>
          <li>Tag 2</li>
        </ul>

      </div>
      <p class="details-show">Less Details</p>
      </div>
      <div class="line"></div>


    </div> -->


  <!-- Если не выбраны места в маршруте -->
    <div class="detail empty-place">
      <div class="content">
        <img src="../../../../../assets/images/array-left-empty.svg" alt="">
        <div class="text">
          <img src="../../../../../assets/images/bad-smile.svg" alt="">
          <p class="text1">Oh, you have no added place</p>
          <p class="text2">But don't worry, it's easy to fix :)</p>
        </div>
      </div>
    </div>












  </div>
</div>
