<div class="places">

  <div class="map">
    <!-- <div class="start-over">
      <div class="content">
        <img src="../../../../../assets/images/Ellipse-orange.png" alt="">
        <p class="text"> - Your place</p>
        <img src="../../../../../assets/images/Ellipse-grey.png" alt="">
        <p class="text"> - BeTrip place</p>
      </div>
    </div> -->
    <app-map-places [Places]="Places" (OnSelectItem)="onSelectItemInMap($event)"></app-map-places>
  </div>

  <div class="block">
    <ul class="menu">
        <li class="item" [ngClass]="{'active': CurrentPage == 'SelectPlace'}" (click)="CurrentPage = 'SelectPlace'"><p>Подробности места интереса</p></li>
      </ul>
      <div class="line"></div>

    <!-- Просмотр места -->
    <div *ngIf="CurrentPage=='SelectPlace'&&SelectPlace.name" class="detail preview-place">
      <div class="header">
        <img class="logo" [src]="'http://35.204.142.44:3000/images/'+SelectPlace.image_id" alt="">
        <div class="info">
          <div class="title-edit">
            <p class="title">{{SelectPlace.name}}</p>

          </div>
        </div>
      </div>
      <div class="main">
        <div class="info">
          <div class="title">Описание</div>
          <div class="text">{{SelectPlace.description}}</div>
        </div>
      </div>
       <div class="line"></div>

       <div *ngIf="!isSelectedPlaceInTheRoute" (click)="AddRouteToList()"  class="add-button">
         <p class="text">Добавить</p>
       </div>
    </div>

    <!-- Редактирование места -->
    <!-- <div class="detail edit-place">
      <div class="header">

        <div class="image-upload">
          <label for="file-input">
             <img class="logo" src="../../../../../assets/images/Mask Group.png" alt="">
             <div class="gradient"></div>
             <img class="pen" src="../../../../../assets/images/pen-edit-photo.svg" alt="">
          </label>

          <input id="file-input" type="file" />
        </div>


        <div class="info">
            <div class="input-block">
              <div><label class="label" for="name">Place name*</label></div>
              <div><input class="input" type="text" name="name" placeholder="Washington Square Park"></div>
            </div>

          <div class="location">
            <img src="../../../../../assets/images/location-img.svg" alt="" class="location-img">
            <p class="location-title">Washington Square Park</p>
          </div>

        </div>
      </div>
      <div class="main">
         <div class="input-block">
              <div><label class="label" for="description">Short description* </label></div>
              <div><textarea class="input" name="description"></textarea></div>
          </div>

          <div class="input-block">
              <div><label class="label" for="interesting">Interesting facts </label></div>
              <div><textarea class="input" name="interesting"></textarea></div>
          </div>

                   <div class="input-block">
              <div><label class="label" for="what">What to do</label></div>
              <div><textarea class="input" name="what"></textarea></div>
          </div>

          <div class="input-block">
              <div><label class="label" for="what">Best time to visit</label></div>
              <div class="time">
                <select class="input">
                  <option value="monday">Monday</option>
                  <option value="tuesday">Tuesday</option>
                </select>
                <input class="input w70" type="text" name="name" placeholder="12:00">
                <select class="input">
                  <option value="am">AM</option>
                  <option value="pm">PM</option>
                </select>
                <img src="../../../../../assets/images/mini-line.svg" alt="">
                <input class="input w70" type="text" name="name" placeholder="12:00">
                <select class="input">
                  <option value="am">AM</option>
                  <option value="pm">PM</option>
                </select>
              </div>
          </div>

          <div class="add">
            <img src="../../../../../assets/images/add-plus.svg" alt="">
            <p class="text">Add another time</p>
          </div>


      </div>
       <div class="line"></div>

       <div class="add-button">
         <p class="text">SAVE</p>
       </div>
    </div> -->

    <!-- Если не выбраны места -->
    <div *ngIf="CurrentPage=='SelectPlace' && (!SelectPlace.name)" class="detail empty-place">
      <div class="content">
        <div class="text">
          <p>Требуется выбрать место на карте</p>
        </div>
      </div>
    </div>


    <!-- Просмотр маршрута -->
    <div *ngIf="CurrentPage=='ViewPlaces' && PlacesInRoute.length" class="detail preview-route">

      <ng-container *ngFor="let item of PlacesInRoute; let i = index">
      <div *ngIf="!item.isShowFullDesc" class="route">
        <div class="header">
        <img class="logo" [src]="'http://35.204.142.44:3000/images/'+item.image_id" alt="">
        <div class="info">
          <div class="title-edit">
            <p class="title">{{item.name}}</p>
            <div (click)="DeleteFromRoute(item.id)" class="edit">
              <img class="del-img" src="../../../../../assets/images/bin-middle.svg" alt="">
            </div>
          </div>
          <div class="text">{{item.description}}</div>
          <!-- <p (click)="item.isShowFullDesc = true" class="details-show">More Details</p> -->
        </div>
      </div>
      </div>

      <div class="line"></div>

      <div *ngIf="item.isShowFullDesc" class="route-full">
        <div class="header">
        <img class="logo" [src]="'http://35.204.142.44:3000/images/'+item.image_id" alt="">
        <div class="info">
          <div class="title-edit">
            <p class="title">{{item.name}}</p>
          </div>
          <!-- <p class="price">${{item.price}}</p> -->
        </div>
      </div>
      <div class="main">
        <div class="info">
          <div class="title">Описание</div>
          <div class="text">{{item.description}}</div>
        </div>

        <!-- <div class="info">
          <div class="title">Best time to visit</div>
          <div class="text">
          <p *ngFor="let time of WorkTimes">
            {{time.day|titlecase}}: {{time.open_time}} {{time.open_time_dn|uppercase}} - {{time.close_time}} {{time.close_time_dn|uppercase}}
          </p></div>
        </div>

        <div class="info">
          <div class="title">Estimated time</div>
          <div class="text">{{EstimatedTime.time}} {{EstimatedTime.period|titlecase}}</div>
        </div> -->

      </div>
      </div>

      </ng-container>


    </div>


  <!-- Если не выбраны места в маршруте -->
    <div *ngIf="CurrentPage=='ViewPlaces' && !PlacesInRoute.length" class="detail empty-place">
      <div class="content">
        <div class="text">
          <p class="text1">Требуется выбрать место на карте</p>
        </div>
      </div>
    </div>












  </div>
</div>
