.places{
  display: flex;
  height: calc(100vh - 300px);
  margin: 16px 0;
  border: 1px solid #E8E2ED;
  box-sizing: border-box;
  box-shadow: 0px 2px 5px rgba(29, 1, 81, 0.07);
  border-radius: 20px;
  .map {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: gray;
    // width: 778px;
    width: 50%;
  }
  .block {

     width: 50%;
    overflow: auto;
    background: #FFFFFF;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;

    .menu {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    margin-top: 20px;
    margin-left: 37px;

    .item p {
      opacity: 0.3;
      margin-right: 40px;
      font-family: 'Open Sans', sans-serif;
      font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 22px;/* identical to box height */
text-transform: uppercase;

color: #000000;
    }
    .item.active p {
      opacity: 1;
      color: #FFA901;
      position: relative;

    }
    .item.active p:after {
      content: '';
      width: 100%;
      height: 3px;
      background-color: #FFA901;
      position: absolute;
      left: 0;
    top: 32px;
    }
  }


  }
  .line {
    height: 1px;
    width: 100%;
    background-color: #EBEBEB;
    margin-top: 14px;
  }



  .detail {
    padding: 16px 30px;
  }

  .preview-place {

    .header{
      display: flex;

      .logo {
        border-radius: 5px;
        width: 120px;
        height: 100px;
      }
      .info {
        padding-left: 25px;

        .title-edit {
          display: flex;
          justify-content: space-between;
          align-items: center;
        .title {
          font-family: 'Lato', sans-serif;
          font-style: normal;
          font-weight: bold;
          font-size: 20px;
          line-height: 24px;

          color: #200F32;
        }
        .edit {
          padding-left: 50px;
          display: flex;
          cursor: pointer;
          .edit-text {
            padding-left: 6px;
            font-family: 'Open Sans', sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 19px;
            display: flex;
            align-items: center;
            text-align: center;
            text-transform: uppercase;

            color: #FFA901;
          }
        }
        }
        .stars {
          padding: 10px 0;
          .star{
            padding-right: 5px;
          }
        }
        .location {
          display: flex;
          .location-title {
            padding-left: 10px;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 19px;
            font-family: 'Open Sans', sans-serif;
            color: #200F32;
          }
        }

        .price {
          padding-top: 11px;
          font-family: 'Lato', sans-serif;
          font-style: normal;
          font-weight: bold;
          font-size: 20px;
          line-height: 24px;

          color: #200F32;
        }

      }
    }

    .main {
      padding-top: 16px;
      .info {
        padding-bottom: 14px;
        .title {
          font-style: normal;
          font-weight: normal;
          font-size: 12px;
          line-height: 16px;

          color: #000000;
          font-family: 'Open Sans', sans-serif;
          opacity: 0.5;
        }
        .text {
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 19px;
          font-family: 'Open Sans', sans-serif;
          color: #200F32;
        }
      }

      .tags{
                        display: flex;
                        text-decoration: none;
                        list-style: none;
                        margin: 0;
                        padding: 0;

                        li{
                            border: 1px solid #FDC635;;
                            border-radius: 50px;
                            color:#FDC635;
                            font-size: 12px;
                            line-height: 18px;
                            text-align: center;
                            text-transform: uppercase;
                            padding: 4px 10px;
                            margin-right: 10px;
                        }
                    }

    }


                    .add-button {
                      cursor: pointer;
                      padding-top: 20px;
                      margin: 0 auto;
                      // width: 144px;
                      display: flex;
                      justify-content: center;
                      align-content: center;

                      .text {
                                                background: linear-gradient(242.81deg, #FDC635 5.98%, #FFA901 94.59%);
                      box-shadow: 0px 2px 10px rgba(217, 143, 0, 0.43);
                      border-radius: 37px;
                      padding: 10px 18px;

                      font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 19px;
display: flex;
align-items: center;
text-align: center;
text-transform: uppercase;
font-family: 'Open Sans', sans-serif;
color: #FFFFFF;

                      }
                    }
  }

























.edit-place {

    .header{
      display: flex;

      .logo {
        border-radius: 5px 5px 0px 0px;

      }
      .image-upload {
         position: relative;
         .file-input {
            position: relative;

          }
      }
      .gradient {
        background-color: rgba(0,0,0,0.4);
        width: 100%;
        height: 100%;
        border-radius: 5px 5px 0px 0px;
        position: absolute;
        top:0;
      }
      .pen {
          position: absolute;
          top: calc(50% - 8px);
          left: calc(50% - 8px);
      }
      .image-upload>input {
          display: none;
        }
      .info {
        padding-left: 25px;

        .title {
          font-family: 'Lato', sans-serif;
          font-style: normal;
          font-weight: bold;
          font-size: 20px;
          line-height: 24px;

          color: #200F32;
        }

        .input-block {
          .label {
            font-family: 'Open Sans', sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 16px;

            color: #000000;

            opacity: 0.5;

          }
          .input {
            margin-top: 8px;
            width: 350px;
            padding: 6px 13px;
            background: #FFFFFF;
border: 1px solid #EAEDF2;
box-sizing: border-box;
border-radius: 5px;

font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 19px;
font-family: 'Open Sans', sans-serif;
color: #000000;
          }
        }


        .location {
          margin-top: 15px;
          display: flex;
          .location-title {
            padding-left: 10px;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 19px;
            font-family: 'Open Sans', sans-serif;
            color: #200F32;
          }
        }

      }
    }

    .main {
      padding-top: 16px;
        .input-block {
          padding-bottom: 13px;
          .label {
            font-family: 'Open Sans', sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 16px;

            color: #000000;

            opacity: 0.5;

          }
          .input {
            margin: 0 7px;
            margin-top: 8px;
            width: 100%;
            padding: 6px 13px;
            background: #FFFFFF;
border: 1px solid #EAEDF2;
box-sizing: border-box;
border-radius: 5px;

font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 19px;
font-family: 'Open Sans', sans-serif;
color: #000000;
          }

          .time {
            display: flex;
            .input{
              width: auto;
              &.w70{
                width: 70px
              }
            }
          }
        }

        .add {
          display: flex;
          align-content: center;
          .text {
            font-family: Lato;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 17px;/* identical to box height */
            font-family: 'Lato', sans-serif;
            color: #FFA901;
            padding-left: 10px;
          }
        }

      .tags{
                        display: flex;
                        text-decoration: none;
                        list-style: none;
                        margin: 0;
                        padding: 0;

                        li{
                            border: 1px solid #FDC635;;
                            border-radius: 50px;
                            color:#FDC635;
                            font-size: 12px;
                            line-height: 18px;
                            text-align: center;
                            text-transform: uppercase;
                            padding: 4px 10px;
                            margin-right: 10px;
                        }
                    }

    }


                    .add-button {
                      cursor: pointer;
                      padding-top: 20px;
                      margin: 0 auto;
                      // width: 144px;
                      display: flex;
                      justify-content: center;
                      align-content: center;

                      .text {
                                                background: linear-gradient(242.81deg, #FDC635 5.98%, #FFA901 94.59%);
                      box-shadow: 0px 2px 10px rgba(217, 143, 0, 0.43);
                      border-radius: 37px;
                      padding: 10px 18px;

                      font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 19px;
display: flex;
align-items: center;
text-align: center;
text-transform: uppercase;
font-family: 'Open Sans', sans-serif;
color: #FFFFFF;

                      }
                    }
  }

  .empty-place {
    height: calc(100% - 120px);

    display: flex;
    align-items: center;
    .content {
      display: flex;
      .text {
        width: 150px;
        align-items: center;
        text-align: center;
        margin: 0 107px;

        .text1{
          font-family: 'Open Sans', sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 16px;
            text-align: center;

            color: #000000;
            padding: 15px 0;
        }
        .text2{
          font-family: 'Open Sans', sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 12px;
          line-height: 16px;/* identical to box height */
          text-align: center;

          color: #000000;

          opacity: 0.5;
        }
      }
    }
  }

















  .preview-route {


    .header{
      display: flex;
      padding-top: 12px;
      .logo {
        border-radius: 5px 5px 0px 0px;
      }
      .info {
        padding-left: 25px;

        .title-edit {
          display: flex;
          justify-content: space-between;
          align-items: center;
        .title {
          font-family: 'Lato', sans-serif;
          font-style: normal;
          font-weight: bold;
          font-size: 20px;
          line-height: 24px;

          color: #200F32;
        }
        .edit {
          padding-left: 120px;
          display: flex;
          cursor: pointer;
          .edit-text {
            padding-left: 6px;
            font-family: 'Open Sans', sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 19px;
            display: flex;
            align-items: center;
            text-align: center;
            text-transform: uppercase;

            color: #FFA901;
          }
        }
        }
        .stars {
          padding: 10px 0;
          .star{
            padding-right: 5px;
          }
        }
        .location {
          display: flex;
          .location-title {
            padding-left: 10px;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 19px;
            font-family: 'Open Sans', sans-serif;
            color: #200F32;
          }
        }

        .price {
          padding-top: 11px;
          font-family: 'Lato', sans-serif;
          font-style: normal;
          font-weight: bold;
          font-size: 20px;
          line-height: 24px;

          color: #200F32;
        }

        .text {
          padding-top: 10px;
          font-family: 'Open Sans', sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 19px;

          color: #200F32;
        }

      }
    }

    .main {
      padding-top: 16px;
      .info {
        padding-bottom: 14px;
        .title {
          font-style: normal;
          font-weight: normal;
          font-size: 12px;
          line-height: 16px;

          color: #000000;
          font-family: 'Open Sans', sans-serif;
          opacity: 0.5;
        }
        .text {
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 19px;
          font-family: 'Open Sans', sans-serif;
          color: #200F32;
        }
      }

      .tags{
                        display: flex;
                        text-decoration: none;
                        list-style: none;
                        margin: 0;
                        padding: 0;

                        li{
                            border: 1px solid #FDC635;;
                            border-radius: 50px;
                            color:#FDC635;
                            font-size: 12px;
                            line-height: 18px;
                            text-align: center;
                            text-transform: uppercase;
                            padding: 4px 10px;
                            margin-right: 10px;
                        }
                    }

    }


   .details-show {
     cursor: pointer;
     padding-top: 16px;
     font-family: 'Open Sans', sans-serif;
     font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 19px;
      display: flex;
      align-items: center;
      text-transform: uppercase;

      color: #FFA901;

   }
  }

















}
