<div class="auth-page" [ngClass]="{'login': CurrentPage == 'login', 'sign-up': CurrentPage == 'sign-up'}" >
  <!-- <div class="header">
    <img src="../../../assets/images/logo-auth.svg" alt="">
  </div> -->
  <div class="middle">
    <div class="form">
      <div class="navigate">
        <div class="items">
          <a routerLinkActive="active" [routerLink]="['/auth','login']" (click)="CurrentPage = 'login'" class="item login">Вход</a>
          <!-- <a routerLinkActive="active" [routerLink]="['/auth','sign-up']" (click)="CurrentPage = 'sign-up'" class="item sign-up">Sign-up</a> -->
        </div>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
