<div class="dashboard">

  <div class="left-side">
    <div class="quick-info">
      <div class="info">
        <div class="content">
          <p class="count">35</p>
          <p class="title">Total routes</p>
        </div>
      </div>
      <div class="info">
        <div class="content">
          <p class="count">56</p>
          <p class="title">Total sold</p>
        </div>
      </div>
      <div class="info">
        <div class="content">
          <p class="count">$4 678</p>
          <p class="title">Total earned</p>
          <p class="subtitle">(Without our commission)</p>
        </div>
      </div>
    </div>

    <div class="big-block">
      <img src="../../../../../assets/images/Graph.png" alt="">
    </div>
    <div class="big-block">
      <img src="../../../../../assets/images/Graph.png" alt="">
    </div>

  </div>

  <div class="right-side">
    <div class="big-block">
      <img src="../../../../../assets/images/graph2.png" alt="">
    </div>
    <div class="big-block">
      <img src="../../../../../assets/images/graph2.png" alt="">
    </div>
    <div class="big-block">
      <img src="../../../../../assets/images/graph2.png" alt="">
    </div>
  </div>

</div>
