<div class="nav">
  <div class="mw1440">
    <div class="left-side">
      <img src="./../../../../../assets/images/logo.svg" alt="" class="logo">
    </div>
    <div class="right-side">
      <div class="user-info">
        <p class="username">Kate Smith</p>
        <div class="user-logo">
          <img src="../../../../../assets/images/image.png" alt="" class="user-logo-image">
        </div>
        <img class="user-menu" src="../../../../../assets/images/array.svg" alt="">
      </div>
    </div>
  </div>
</div>
