<div class="nav">
  <div class="mw1440">
    <div class="left-side">
      <img src="./../../../../../assets/images/logo.svg" alt="" class="logo">
    </div>
    <div class="right-side">
      <div (click)="Logout()" class="user-info">
        <p class="username">{{User.first_name}} {{User.last_name}}</p>
        <div *ngIf="User.image_id" class="user-logo">
          <img [src]="User.image_id" alt="" class="user-logo-image">
        </div>
        <img class="user-menu" src="../../../../../assets/images/array.svg" alt="">
      </div>
    </div>
  </div>
</div>
