<div class="summary">

  <div class="block">
    <div class="detail">
      <img *ngIf="Route.image||Route.image_id" [src]="Route.image_id?'http://35.204.142.44:3000/images/'+Route.image_id:Route.image.base64" alt="" class="logo">
      <div class="header">
        <p class="title">{{Route.name}}</p>
        <p class="price">${{Route.price}}</p>
      </div>
      <p class="text">{{Route.description}}</p>
      <ul class="tags">
          <li *ngFor="let tag of Route.categories">{{tag}}</li>
      </ul>


    </div>
  </div>

  <div class="map">
    <app-map [Mode]="4" [Places]="Places"></app-map>
  </div>

</div>

<div class="places">
<p class="placeses-title">placeses in the route</p>
<div class="list">
  <div *ngFor="let item of Places; let i = index" class="item">
    <img [src]="GetImageURL(item.image_id)" alt="">
    <div class="title-edit">
      <div class="title"><div class="number">{{i+1}}</div> <p>{{item.name}}</p></div>
    </div>
    <p class="text">
      {{item.description}}
    </p>
  </div>
</div>
</div>

