<div class="summary">

  <div class="block">
    <div class="detail">
      <img src="../../../../../assets/images/imagezz.png" alt="" class="logo">
      <div class="header">
        <p class="title">Route Name</p>
        <p class="price">$35</p>
      </div>
      <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud Lorem ipsum dolor sit ametLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud Lorem ipsum dolor sit amet </p>
      <ul class="tags">
          <li>Tag 1</li>
          <li>Tag 2</li>
      </ul>


    </div>
  </div>

  <div class="map">
    <app-map [Mode]="4" [Places]="Places"></app-map>
  </div>

</div>

<div class="places">
<p class="placeses-title">placeses in the route</p>
<div class="list">
  <div class="item">
    <img src="../../../../../assets/images/image12.png" alt="">
    <div class="title-edit">
      <div class="title"><div class="number">1</div> <p>Prospect park</p></div>
    </div>
    <p class="text">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad...
    </p>
  </div>
  <div class="item">
    <img src="../../../../../assets/images/image12.png" alt="">
    <div class="title-edit">
      <div class="title"><div class="number">2</div> <p>Prospect park</p></div>
    </div>
    <p class="text">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad...
    </p>
  </div>
    <div class="item">
    <img src="../../../../../assets/images/image12.png" alt="">
    <div class="title-edit">
      <div class="title"><div class="number">2</div> <p>Prospect park</p></div>
    </div>
    <p class="text">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad...
    </p>
  </div>
    <div class="item">
    <img src="../../../../../assets/images/image12.png" alt="">
    <div class="title-edit">
      <div class="title"><div class="number">2</div> <p>Prospect park</p></div>
    </div>
    <p class="text">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad...
    </p>
  </div>
    <div class="item">
    <img src="../../../../../assets/images/image12.png" alt="">
    <div class="title-edit">
      <div class="title"><div class="number">2</div> <p>Prospect park</p></div>
    </div>
    <p class="text">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad...
    </p>
  </div>
</div>
</div>

