<div class="order">

  <div class="block">
    <div class="detail">
        <div class="image-upload">
          <label for="file-input">
             <img class="logo" src="../../../../../assets/images/add-image.svg" alt="">
          </label>

          <input id="file-input" type="file" />
        </div>
        <!-- <img src="../../../../../assets/images/Group 16.png" alt=""> -->
        <p class="picture-text">Try use picture not smaller than 355x280px</p>

            <div class="input-block">
              <div><label class="label" for="name">Route name*</label></div>
              <div><input class="input" type="text" name="name" placeholder="Washington Square Park"></div>
            </div>
            <div class="input-block">
              <div><label class="label" for="name">Price*</label></div>
              <div><input class="input" type="text" name="name" placeholder="35$"></div>
            </div>
            <div class="input-block">
              <div><label class="label" for="description">Route description</label></div>
              <div><textarea class="input" name="description"></textarea></div>
            </div>

            <div class="input-block">
              <div><label class="label" for="name">Tags</label></div>
              <div><input class="input" type="text" name="name"></div>
            </div>


    </div>
  </div>

  <div class="map">
  </div>

</div>
