agm-map {
  height: 100%;
  min-height: 300px;
}
.agm-map-container-inner {
  border-top-left-radius: 20px ;
  border-bottom-left-radius: 20px ;
}
.agm-map-container-inner[_ngcontent-c7]{
  border-top-left-radius: 20px ;
  border-bottom-left-radius: 20px ;
}

.gm-style-iw {
  background: red !important;
}
.gm-style-iw .gm-ui-hover-effect{
  display: none !important;
}

.map-img {
  width: 100%;
    max-width: 110px;
}
