<agm-map #agmMap
  [zoom]="13"
  [latitude]="MyPostition.lat"
  [longitude]="MyPostition.lng"
>
    <ng-container *ngIf="!isCenterChanged" >
      <ng-container *ngFor="let allPlace of AllPlaces; let i = index">

        <agm-marker
          [latitude]="allPlace.lat"
          [longitude]="allPlace.lng"
          (mouseOver)="allPlace.isShow = true"
          [iconUrl]="allPlace.selected?'../../../../../assets/images/pin.png':'../../../../../assets/images/Ellipse-grey.png'"
          (markerClick)="SelectAllInfoWindow(allPlace.id)"
        ></agm-marker>

      <agm-snazzy-info-window
        *ngIf="allPlace.image"
        [isOpen]="allPlace.isShow"
        [latitude]="allPlace.lat"
        [longitude]="allPlace.lng"
        [showCloseButton]="false"
        [padding]="'3px'"
        [borderRadius]="'5px'"
        [closeOnMapClick] = "false"
        [panOnOpen]="false"
        [backgroundColor]="'#ffffff'"
      >
        <ng-template >
          <div (click)="SelectAllInfoWindow(allPlace.id)" (mouseout)="allPlace.isShow = false">
            <img *ngIf="allPlace.image" class="map-img" [src]="allPlace.image" alt="">
          </div>
        </ng-template>
      </agm-snazzy-info-window>
      </ng-container>

    </ng-container>


</agm-map>
